In [17]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

df = pd.read_csv('apartment_for_rent_train.csv')

df.head()

,Reg_id,Gender,Age,Construction_type,New_construction,Elevator,Floors_in_the_building,Floor_area,Number_of_rooms,Number_of_bathrooms,...,Pets_allowed,Utility_payments,Address,Price,Currency,Duration,Datetime,amenities,appliances,parking
0,3,Male,60,Stone,0.0,0.0,5.0,41.0,2.0,1.0,...,11.0,10.0,Ararat › Artashat,20000.0,AMD,daily,24/11/2022,none,none,none
1,2,Female,51,Stone,0.0,0.0,5.0,76.0,4.0,1.0,...,11.0,10.0,Armavir › Echmiadzin,270000.0,AMD,monthly,24/11/2022,none,none,none
2,2,Male,20,Stone,0.0,0.0,5.0,78.0,3.0,1.0,...,11.0,10.0,Armavir › Echmiadzin,160000.0,AMD,monthly,15/12/2022,none,none,none
3,7,Female,57,NaN,0.0,0.0,-1.0,NaN,0.0,0.0,...,0.0,0.0,"Lernagorts Street, Vardenis",80000.0,AMD,monthly,15/12/2022,none,none,none
4,4,Female,43,Stone,1.0,1.0,12.0,40.0,1.0,1.0,...,0.0,0.0,"Antarayin 1st blok 10, Tsaghkadzor",20000.0,AMD,daily,24/11/2022,none,none,none

In [18]:
df = df.drop_duplicates()

df_cleaned = df.dropna()

Q1 = df_cleaned['Price'].quantile(0.25)
Q3 = df_cleaned['Price'].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR
df_cleaned = df_cleaned[(df_cleaned['Price'] >= lower_bound) & (df_cleaned['Price'] <= upper_bound)]

df_cleaned.reset_index(drop=True, inplace=True)

In [19]:
print(df)

       Reg_id  Gender  Age Construction_type  New_construction  Elevator  \
0           3    Male   60             Stone               0.0       0.0
1           2  Female   51             Stone               0.0       0.0
2           2    Male   20             Stone               0.0       0.0
3           7  Female   57               NaN               0.0       0.0
4           4  Female   43             Stone               1.0       1.0
...       ...     ...  ...               ...               ...       ...
32582       1  Female   39            Panels               0.0       1.0
32583       1    Male   58          Monolith               1.0       1.0
32584       1    Male   62             Stone               0.0       1.0
32585       1  Female   22             Stone               0.0       0.0
32586       1    Male   33          Monolith               1.0       1.0

       Floors_in_the_building  Floor_area  Number_of_rooms  \
0                         5.0        41.0              2.0
1                         5.0        76.0              4.0
2                         5.0        78.0              3.0
3                        -1.0         NaN              0.0
4                        12.0        40.0              1.0
...                       ...         ...              ...
32582                    11.0        52.0              1.0
32583                    12.0       200.0              3.0
32584                     5.0        70.0              2.0
32585                     5.0        42.0              1.0
32586                    14.0        52.0              2.0

       Number_of_bathrooms  ...  Pets_allowed  Utility_payments  \
0                      1.0  ...          11.0              10.0
1                      1.0  ...          11.0              10.0
2                      1.0  ...          11.0              10.0
3                      0.0  ...           0.0               0.0
4                      1.0  ...           0.0               0.0
...                    ...  ...           ...               ...
32582                  1.0  ...          10.0              10.0
32583                  2.0  ...          12.0              10.0
32584                  1.0  ...          10.0              10.0
32585                  1.0  ...          10.0              10.0
32586                  1.0  ...          10.0              10.0

                                  Address     Price Currency  Duration  \
0                       Ararat › Artashat   20000.0      AMD     daily
1                    Armavir › Echmiadzin  270000.0      AMD   monthly
2                    Armavir › Echmiadzin  160000.0      AMD   monthly
3             Lernagorts Street, Vardenis   80000.0      AMD   monthly
4      Antarayin 1st blok 10, Tsaghkadzor   20000.0      AMD     daily
...                                   ...       ...      ...       ...
32582    Yeznik Koghbatsi street, Yerevan  370000.0      AMD   monthly
32583             Abovyan street, Yerevan    2000.0      USD   monthly
32584          Sayat Nova avenue, Yerevan  490000.0      AMD   monthly
32585          Sayat Nova avenue, Yerevan  400000.0      AMD   monthly
32586            Argishti street, Yerevan  370000.0      AMD   monthly

         Datetime  amenities appliances  parking
0      24/11/2022       none       none     none
1      24/11/2022       none       none     none
2      15/12/2022       none       none     none
3      15/12/2022       none       none     none
4      24/11/2022       none       none     none
...           ...        ...        ...      ...
32582  15/12/2022      none       none     none
32583  15/12/2022      none       none     none
32584  15/12/2022      none       none     none
32585  15/12/2022      none       none     none
32586  15/12/2022      none       none     none

[32585 rows x 26 columns]

In [22]:
from sklearn.tree import DecisionTreeRegressor

discrete_features = ['Balcony', 'Furniture', 'Renovation', 'Children_are_welcome', 'Pets_allowed']

for col in discrete_features:
    df_cleaned[col] = df_cleaned[col].astype('category').cat.codes

X_discrete = df_cleaned[discrete_features]
y_discrete = df_cleaned['Price']

X_train_a, X_test_a, y_train_a, y_test_a = train_test_split(X_discrete, y_discrete, test_size=0.2, random_state=42)

tree_a = DecisionTreeRegressor(max_depth=5, random_state=42)
tree_a.fit(X_train_a, y_train_a)

feature_importances_a = pd.Series(tree_a.feature_importances_, index=discrete_features).sort_values(ascending=False)
print("Top discrete variables:\n", feature_importances_a)

Top discrete variable importances:
 Renovation              0.548456
Balcony                 0.321284
Children_are_welcome    0.092834
Furniture               0.025320
Pets_allowed            0.012106
dtype: float64